{% extends 'base.html' %}

{% block content %}
<ul>
    {% for obj in objs %}
	<li class="company">
    <img class="company-logo" src="{{obj.logo.url}}" alt="">
    {{obj.name}}
    </li>
    {% endfor %}
</ul>
{% endblock %}
